<h1>Edit Enrollment</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.enrollment_path(@conn, :update, @enrollment)) %>

<span><%= link "Back", to: Routes.enrollment_path(@conn, :index) %></span>
