<.form let={f} for={@changeset} action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :class_id %>
  <%= number_input f, :class_id %>
  <%= error_tag f, :class_id %>

  <%= label f, :student_id %>
  <%= number_input f, :student_id %>
  <%= error_tag f, :student_id %>

  <%= label f, :professor_id %>
  <%= number_input f, :professor_id %>
  <%= error_tag f, :professor_id %>


  <div>
    <%= submit "Save" %>
  </div>
</.form>
