<h1>Edit Professor</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.professor_path(@conn, :update, @professor)) %>

<span><%= link "Back", to: Routes.professor_path(@conn, :index) %></span>
